<header>
		<a href="homepage.html" class="header-brand">Studchat</a>
		<nav class="home-header">
			<ul>
				<li class="chat-home"><a href="#">Home</a></li>
				<li><a href="#">Profile</a></li>
				<li style="hover ul{display: block;}"><a href="findfriends"> friends</a>
					<ul style="display : none">
						<li><a href="findfriends">find friends</a></li>
						<li><a href="findfriends">suggested friends</a></li>
					</ul>
				</li>
				<li><a href="chatfriends">Chats</a></li>
				<li><a href="index">Chatroom</a></li>
				<li><a href="#"><span class="badge-pill badge-danger" id="badge">50</span></a></li>
				<li><a href="#">logout</a></li>
			</ul>
		</nav>

	</header>

	<main style="height: calc(100% - 110px);">


	</main>
