
<div id="chat-app">
            <h2 class="app">chatApp</h2>

                <div id="chat-window">
                 <span id="feedback"></span>
                    <div id="output">
                        <!-- chat output window -->
                    </div>
                </div>
            <input id="username" type="text" placeholder="Username" value={{username}} disabled>
            <input id="message" type="text" placeholder="Message">
            <button id="send">Send</button>
        </div>

        <script src="/javascript/chat_friend.js"></script>
