
<div id="chat-app">
            <h2 class="app">chatApp</h2>

                <div id="chat-window">
                 <span id="feedback-friend"></span>
                    <div id="output-friend">
                        <!-- chat output window -->
                    </div>
                </div>
            <input id="username-friend" type="text" placeholder="Username" value={{username}} disabled>
            <input id="message-friend" type="text" placeholder="Message">
            <button id="send-friend">Send</button>
        </div>

        <script src="/javascript/chat_friend.js"></script>
